@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter Increment="10" />

<ChildEventCallBackTest ValueChanged="ValudChange" />
<p>
    <h2>@InputText</h2>
</p>

<LifeCycleTest Increment="12"/>

@code
{
    private string InputText;

    private void ValudChange(string inputText)
    {
        InputText = inputText;
    }
}