<section style="margin-bottom: 10px">
    <input type="text" class="form-control" placeholder="Input Search Text" 
           @bind-value="@SearchText" @bind-value:event="oninput" @onkeyup="async () => await OnSearchChanged.InvokeAsync(SearchText)" />
</section>

@code {

    public string? SearchText { get; set; }

    [Parameter]
    public EventCallback<string> OnSearchChanged { get; set; }

}
