<h3>CascadingChild</h3>

@if (ExampleList != null)
{
    foreach (string example in ExampleList)
    {
        <h1>example</h1>
    }
}

@code {

    [CascadingParameter]
    protected IEnumerable<string>? ExampleList { get; set; }
}
