@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<RenderFragmentTest>
    <p>RenderFragmentTest</p>
</RenderFragmentTest>


<RenderFragmentTest>
    <p>
    @if (currentCount % 2 == 0)
    {
        <Child1/>
    }
    else
    {
        <Child2 />
    }
    </p>
</RenderFragmentTest>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
