<div class="card w-25" style="margin-bottom:15px">
    <div class="card-header font-weight-bold">
        <input type="checkbox" checked="@IsSelected" @onchange="CheckBoxChanged" />
    </div>
    <div class="card-body">@ChildContent</div>
</div>